.article-top {
  margin-top: 102px;
  position: relative;
}

.article-top__heading {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  align-items: center;
  color: $color_2;
  margin-bottom: 38px !important;
}

.article-top__text {
  margin-bottom: 38px !important;
}

.article-top__button {
  margin-bottom: 200px !important;
}

.article-top__image {
  position: absolute;
  top: 14%;
  left: 34%;
}

@media screen and (max-width: 960px) {
  .article-top {
    margin-bottom: 150px !important;
  }
  .article-top__heading {
    font-size: 54px;
  }
  .article-top__button {
    margin: 0 auto !important;
  }
  .article-top__image {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 50px;
    width: 100%;
  }
}