.article-middle {
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  align-items: center;
  margin-bottom: 130px !important;
}

.article-middle__section {
  padding: 112px 80px !important;
}

.article-middle__heading {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: $color_2;
}

.article-middle__image {
  margin-top: -32px;
  max-width: 477px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .article-middle {
    padding-top: 50px !important;
  }
  .article-middle__section {
    padding-top: 50px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .article-middle__heading {
    text-align: center;
  }
}