.features {
  margin-bottom: 100px;
}

.features__heading {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 26px;
  color: $color_2;
}

.features__text {
  text-align: center;
  margin-bottom: 76px !important;
}
