.footer {
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: $color_3;
    opacity: 0.2;
  }
  padding-bottom: 75px;
}

.footer__heading {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: $color_2;
  margin-bottom: 12px !important;
}

.footer__heading-block {
  padding-top: 110px !important;
}

.footer__heading-nav {
  margin-left: auto !important;
  width: auto !important;
}

.footer__heading-nav__item  {
  &:last-of-type {
    padding-right: 0;
  }
}

.footer__epilogue {
  margin-top: 138px !important;
}

.footer__epilogue__heading {
  margin-bottom: 50px;
}

.footer__epilogue__navigation__heading {
  font-family: Avenir;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: $color_2;
  margin-bottom: 30px;
}

.footer__epilogue__navigation__items-list {
  &._social-media {
    display: flex;
  }
}

@media screen and (max-width: 960px) {
  .footer__heading-nav {
    width: 100% !important;
  }
  .footer__epilogue__navigation {
    margin-top: 50px;
  }
}