.header {
  &._fixed {
    position: fixed;
    top: 0;
    margin-top: 0;
    background-color: #f6fafd;
    z-index: 5;
    width: 100%;
    max-width: unset;
    padding: 0 calc(100% - 1312px) !important;
    opacity: 0;
  }
  &._visible {
    transition: opacity 0.25s;
    opacity: 1 !important;
  }
}

.header__container {
  padding: 0 12px;
  align-items: center;
}

.header__menu {
  align-items: center;
  justify-content: flex-end;
  max-width: calc(100% - 74px);
}

.header__menu__items-list {
  margin-left: 120px;
  display: flex;
}

.header__menu__button {
  margin-left: auto;
}

.header__menu__mobile-menu-icon {
  margin-left: auto;
  display: none;
}

@media screen and (max-width: 960px) {
  .header__logo {
    z-index: 10;
  }
  .header__menu {
    position: absolute;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    max-width: unset;
    top: -6px;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.25s;
    margin-top: 0 !important;
    display: block;
    flex-wrap: wrap;
    align-items: unset !important;
    &._open {
      z-index: 10;
      opacity: 1;
    }
  }
  .header__menu__items-list {
    width: 100%;
    display: block;
    padding-top: 108px !important;
    margin: 0;
    display: block;
    height: max-content;
  }
  .header__menu__mobile-menu-icon {
    display: block;
    width: 36px;
    height: 25px;
    margin-right: 12px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 20;
    span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: $color_3;
      border-radius: 2px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .2s ease-in-out;
      -moz-transition: .2s ease-in-out;
      -o-transition: .2s ease-in-out;
      transition: .2s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2), &:nth-child(3) {
        top: 10px;
      }
      &:nth-child(4) {
        top: 20px;
      }
    }
    &._open {
      span {
        &:nth-child(1) {
          top: 11px;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          top: 11px;
          width: 0%;
          left: 50%;
        }
      }
    }
  }
}