.testimonials {
  background-color: $color_3;
  border-radius: 50px;
  padding: 97px 0 50px 81px !important;
  margin-bottom: 150px !important;
}

.testimonials__heading {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 70px;
  color: #fff;
}

.testimonials__cards-carousel {
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

.testimonials__cards-carousel__scroll-bar-fix {
  padding: 0 !important;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -20px;
    z-index: 1;
    background-color: $color_3;
  }
}

.testimonials__cards-carousel__scroll-area {
  transition: transform 0.25s ease-out;
  display: flex;
  margin-bottom: 20px;
  // width: 9000px;
}

.testimonials__cards-carousel__shadow {
  background: linear-gradient(270deg, #9C69E2 9.75%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  border-radius: 0 50px 50px 0;
}

.testimonials__cards-carousel__controls {
  padding: 12px;
  display: flex;
  align-items: center;
  width: calc(100% - 81px);
  position: relative;
  z-index: 7;
}

.testimonials__cards-carousel__controls__bullets {
  display: flex;
  align-items: center;
}

.testimonials__cards-carousel__controls__arrows {
  display: flex;
  margin-left: auto;
}

.testimonials__cards-carousel__controls__arrows__arrow {
  cursor: pointer;
  &._left {
    background-image: url(../img/testimonials-nav-arrow-1.svg);
    width: 42px;
    height: 16px;
  }
  &._right {
    background-image: url(../img/testimonials-nav-arrow-2.svg);
    width: 22px;
    height: 16px;
    margin-left: 20px;
  }
  &._disabled {
    opacity: 0.3;
    cursor: default;
  }
}

@media screen and (max-width: 480px) {
  .testimonials {
    padding: 52px 0 50px 12px !important;
  }
  .testimonials__heading {
    margin-bottom: 40px;
  }
  .testimonials__cards-carousel__shadow {
    width: 50px;
    opacity: 0.25;
  }
  .testimonials__cards-carousel__controls {
    width: calc(100% - 12px);
    margin-top: 24px;
  }
  .testimonials__cards-carousel__scroll-bar-fix {
    display: none;
  }
}