@mixin gridBlock($screenSize, $blockWidth) {
  &._#{$screenSize}-#{$blockWidth}-percent {
    width: $blockWidth + unquote("%");
    &._clear-left {
      margin-left: 100 - $blockWidth + unquote("%");
    }
    &._clear-right {
      margin-right: 100 - $blockWidth + unquote("%");
    }
    &._clear-both {
      margin: 0 (100 - $blockWidth)/2 + unquote("%");
    }
  }
}

.grid-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1130px;
  margin: auto;
  padding: 0 24px;
  &._full {
    max-width: none;
  }
  .grid-block.grid-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .grid-block {
    padding: 12px;
    @include gridBlock(l, 10);
    @include gridBlock(l, 20);
    @include gridBlock(l, 25);
    @include gridBlock(l, 30);
    @include gridBlock(l, 33.3333);
    @include gridBlock(l, 40);
    @include gridBlock(l, 50);
    @include gridBlock(l, 60);
    @include gridBlock(l, 66.6666);
    @include gridBlock(l, 70);
    @include gridBlock(l, 75);
    @include gridBlock(l, 80);
    @include gridBlock(l, 90);
    @include gridBlock(l, 100);
    &.l-100-percent {
      flex-shrink: 0;
    }
  }
}

@media screen and (max-width: 960px) {
  .grid-container {
    .grid-block {
      @include gridBlock(m, 10);
      @include gridBlock(m, 20);
      @include gridBlock(m, 25);
      @include gridBlock(m, 30);
      @include gridBlock(m, 33.3333);
      @include gridBlock(m, 40);
      @include gridBlock(m, 50);
      @include gridBlock(m, 60);
      @include gridBlock(m, 66.6666);
      @include gridBlock(m, 70);
      @include gridBlock(m, 75);
      @include gridBlock(m, 80);
      @include gridBlock(m, 90);
      @include gridBlock(m, 100);
        &.m-100-percent {
        flex-shrink: 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    .grid-block {
      @include gridBlock(s, 10);
      @include gridBlock(s, 20);
      @include gridBlock(s, 25);
      @include gridBlock(s, 30);
      @include gridBlock(s, 33.3333);
      @include gridBlock(s, 40);
      @include gridBlock(s, 50);
      @include gridBlock(s, 60);
      @include gridBlock(s, 66.6666);
      @include gridBlock(s, 70);
      @include gridBlock(s, 75);
      @include gridBlock(s, 80);
      @include gridBlock(s, 90);
      @include gridBlock(s, 100);
      &.s-100-percent {
        flex-shrink: 0;
      }
    }
  }
}