.base-button {
  border-radius: 50px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: $color_2;
  padding: 17px 29px;
  &._transparent {
    background-color: transparent;
    color: $color_2;
    padding: 17px 0;
  }
  &._purple {
    background-color: $color_3;
    color: #fff;
  }
  &._pink {
    background-color: $color_4;
    color: #fff;
  }
  &._white {
    background-color: #ffffff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    color: $color_2;
  }
  &._arrow {
    position: relative;
    padding-right: 69px;
    &:after {
      content: '';
      position: absolute;
      background-image: url(../img/button-arrow-1.svg);
      background-size: 22px 16px;
      top: 23px;
      right: 23px;
      width: 22px;
      height: 16px;
    }
  }
}
