.features__block {
  align-items: center;
  background-position-x: 100%;
  flex-direction: row-reverse;
  height: 358px;
  margin-bottom: 50px !important;
  padding-right: 12px !important;
  &:nth-of-type(odd) {
    padding-right: 22px !important;
    background-position-x: calc(100% - 10px);
  }
  &:nth-of-type(even) {
    padding-left: 10px !important;
  }
}

.features__block__heading {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: $color_2;
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .features__block {
    flex-flow: column-reverse;
    margin-top: 150px !important;
    background-size: 100%;
    background-position: bottom;
    border-radius: 290px 100px 0 0;
    &:nth-of-type(odd) {
      padding-right: 0 !important;
      background-position-x: 100%;
    }
    &:nth-of-type(even) {
      padding-left: 50px !important;
    }
    padding-left: 50px !important;
  }
}

@media screen and (max-width: 480px) {
  .features__block {
    border-radius: 0;
  }
  .features__block__image {
    margin-bottom: -22px !important;
  }
  .features__block__heading {
    margin-bottom: 0 !important;
  }
}