.footer__epilogue__navigation__items-list__item {
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
}

.footer__epilogue__navigation__items-list__item__link {
  color: $color_2;
}

.footer__epilogue__navigation__items-list {
  &._social-media {
    .footer__epilogue__navigation__items-list__item {
      margin-right: 14px;
    }
  }
}