.header {
  margin-top: 35px
}
.header__menu__items-list__item {
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: $color_1;
  margin-left: 40px;
  &._strong {
    font-weight: 600;  
    color: $color_2;
  }
  &:first-of-type {
    margin-left: 0;
  }
}

.header__menu__items-list__item__link {
  color: $color_2;
}

@media screen and (max-width: 960px) {
  .header {
    margin-top: 6px;
  }
  .header__menu {
    display: block;
    .base-button {
      float: right;
    }
  }
  .header__menu__items-list__item {
    display: block;
    margin: 0;
    text-align: right;
    padding: 18px 0;
    padding-right: 18px;
    font-size: 21px;
  }
}