.testimonials__cards-carousel__controls__bullets__bullet {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  cursor: pointer;
  &._selected {
    width: 10px;
    height: 10px;
    background-color: $color_4;
  }
}