.testimonials__cards-carousel__card {
  background: #fff;
  box-shadow: 0px 12px 0px rgba(102, 102, 102, 0.2);
  border-radius: 20px;
  padding: 48px 84px 38px 58px !important;
  min-width: 645px;
  max-width: 645px;
  height: 330px;
  margin-right: 20px !important;
}

.testimonials__cards-carousel__card__image-block {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials__cards-carousel__card__text-block {
  width: calc(100% -  90px);
}

.testimonials__cards-carousel__card__text-block__heading {
  font-family: Avenir;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: $color_2;
  margin-top: 6px;
}

.testimonials__cards-carousel__card__text-block__subtitle {
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: $color_3;
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .testimonials__cards-carousel__card {
    padding: 30px 84px 18px 18px !important;
    min-width: calc(100vw - 50px);
    max-width: calc(100vw - 50px);
  }
  .testimonials__cards-carousel__card__image-block{
    width: 90px;
    position: absolute;
  }
  .testimonials__cards-carousel__card__image-block__image {
    height: 66px;
    img {
      height: 100%;
      width: auto;
    }
  }
  .testimonials__cards-carousel__card__text-block__heading,
  .testimonials__cards-carousel__card__text-block__subtitle {
    padding-left: 82px;
  }
}