<div class="grid-container">
  <article class="article-middle grid-block grid-container">
    <section class="grid-block _l-40-percent _m-100-percent">
      <img class="article-middle__image" src="img/article-middle-img-1.svg" width="100%" alt="Person lies in the middle of iconographic images of information and data they need to store.">
    </section>
    <section class="article-middle__section grid-block _l-60-percent _m-100-percent grid-container">
      <h1 class="article-middle__heading grid-block">
        We are a high-level data storage bank
      </h1>
      <p class="article-middle__text base-text grid-block">
        The place to store various data that you can access at any time through the internet  and where you can carry it. This very flexible storage area has a high level of security. To enter into your own data you must enter the password that you created when you registered in this Data Warehouse. 
      </p>
    </section>
  </article>
</div>