<article class="article-top grid-container">
  <h1 class="article-top__heading grid-block _l-60-percent _m-80-percent _s-100-percent _clear-right">
    Save your data storage here.
  </h1>
  <p class="article-top__text base-text grid-block _l-30-percent _m-90-percent  _clear-right">
    Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others.
  </p>
  <p>
    <img class="article-top__image" alt="In an iconographic environment, two individuals deals with daily tasks on an virtual realm." src="img/article-top-bg.svg">
  </p>
  <div class="article-top__button grid-block">
    @@include('../components/base-button.html', {
      type: 'button',
      text: 'Learn more',
      link: '##',
      modifier: '_purple'
    })
  </div>
</article>