<article class="features grid-container">
  <section class="grid-block grid-container">
    <h1 class="features__heading grid-block _l-100-percent">
      Features
    </h1>
    <p class="features__text base-text grid-block _l-50-percent _s-100-percent _clear-both">
      Some of the features and advantages that we provide for those of you who store data in this Data Warehouse. 
    </p>
  </section>
  <section class="grid-block grid-container">
    @@loop('../components/features__block.html', [
      {
        bgImg: 'img/feature-bg-1.svg',
        img: 'img/feature-img-1.png',
        imgAlt: 'Person in an iconographic environment looks for their data with a magnifing glass.',
        heading: 'Search Data',
        text: 'Don’t worry if your data is very large, the Data Warehoue provides a search engine, which is useful for making it easier to find data effectively saving time.',
        btnLink: '##',
      },
      {
        bgImg: 'img/feature-bg-2.svg',
        img: 'img/feature-img-2.png',
        imgAlt: 'Person is sitting down on a laptop in an iconographic environment.',
        heading: '24 Hours Access',
        text: 'Access is given 24 hours a full morning to night and meet again in the morning, giving you comfort when you need data when urgent.',
        btnLink: '##',
      },
      {
        bgImg: 'img/feature-bg-3.svg',
        img: 'img/feature-img-3.png',
        imgAlt: 'An iconographis printer is printing out a long paper.',
        heading: 'Print Out',
        text: 'Print out service gives you convenience if someday you need print data, just edit it all and just print it.',
        btnLink: '##',
      },
      {
        bgImg: 'img/feature-bg-4.svg',
        img: 'img/feature-img-4.png',
        imgAlt: 'And iconographic person have a giant key that they try to open a door with',
        heading: 'Security Code',
        text: 'Data Security is one of our best facilities. Allows for your files to be safer. The file can be secured with a code or password that you created, so only you can open the file.',
        btnLink: '##',
      },
    ])
  </section>
</article>