<footer class="footer grid-container">
  <article class="footer__heading-block grid-block _l-100-percent grid-container">
    <section class="grid-block _l-50-percent _s-100-percent">
      <h1 class="footer__heading">
        Try for free!
      </h1>
      <p class="base-text">
        Get limited 1 week free try our features!
      </p>
    </section>
    <nav class="footer__heading-nav grid-block grid-container _m-100-percent">
      <div class="footer__heading-nav__item grid-block">
        @@include('../components/base-button.html', {
          type: 'button',
          text: 'Learn more',
          link: '##',
          modifier: '_pink',
        })
      </div>
      <div class="footer__heading-nav__item grid-block">
        @@include('../components/base-button.html', {
          type: 'button',
          text: 'Request demo',
          link: '##',
          modifier: '_white _arrow',
        })
      </div>
    </nav>
  </article>
  <section class="footer__epilogue grid-block _l-100-percent grid-container">
    <article class="grid-block _l-40-percent _m-100-percent">
      <h1 class="footer__epilogue__heading">
        <img src="img/logo-footer.svg" width="217" height="35" alt="Data Warehouse">
      </h1>
      <p class="base-text" style="margin-bottom: 12px;">
        Warehouse Society, 234<br>
        Bahagia Ave Street PRBW 29281
      </p>
      <p class="base-text _small">
        info@warehouse.project<br>
        1-232-3434 (Main)
      </p>
    </article>
    <nav class="footer__epilogue__navigation grid-block _l-20-percent _m-50-percent">
      <div class="footer__epilogue__navigation__heading">
        About
      </div>
      <ul class="footer__epilogue__navigation__items-list">
        @@loop('../components/footer__epilogue__navigation__items-list__item.html', [
          {
            text: 'Profile',
            link: '##',
            modifier: false
          },
          {
            text: 'Features',
            link: '##',
            modifier: false
          },
          {
            text: 'Carrers',
            link: '##',
            modifier: false
          },
          {
            text: 'DW News',
            link: '##',
            modifier: false
          }
        ])
      </ul>
    </nav>
    <nav class="footer__epilogue__navigation grid-block _l-20-percent _m-50-percent">
      <div class="footer__epilogue__navigation__heading">
        Help
      </div>
      <ul class="footer__epilogue__navigation__items-list">
        @@loop('../components/footer__epilogue__navigation__items-list__item.html', [
          {
            text: 'Support',
            link: '##',
            modifier: false
          },
          {
            text: 'Sign up',
            link: '##',
            modifier: false
          },
          {
            text: 'Guide',
            link: '##',
            modifier: false
          },
          {
            text: 'Reports',
            link: '##',
            modifier: false
          },
          {
            text: 'Q&A',
            link: '##',
            modifier: false
          }
        ])
      </ul>
    </nav>
    <nav class="footer__epilogue__navigation grid-block _l-20-percent _s-100-percent">
      <div class="footer__epilogue__navigation__heading">
        Social Media
      </div>
      <ul class="footer__epilogue__navigation__items-list _social-media">
        @@loop('../components/footer__epilogue__navigation__items-list__item.html', [
          {
            text: 'Facebook',
            img: 'img/icon-social-footer.svg',
            link: '##',
            modifier: '_social-media'
          },
          {
            text: 'Instagram',
            img: 'img/icon-social-footer.svg',
            link: '##',
            modifier: '_social-media'
          },
          {
            text: 'Tweeter',
            img: 'img/icon-social-footer.svg',
            link: '##',
            modifier: '_social-media'
          }
        ])
      </ul>
    </nav>
  </section>
</footer>