<header class="header">
  <section class="header__container grid-container">
    <div class="header__logo grid-block">
      <h1>
        <a href="#">
          <img src="./img/logo-header.svg" alt="Data Warehouse" title="Data Warehouse" width="50" height="36">
        </a>
      </h1>
    </div>
    <nav class="header__menu grid-block grid-container">
      <ul class="header__menu__items-list grid-block">
        @@loop('../components/header__menu__items-list__item.html', [
          {
            text: 'About',
            link: '##',
            modifier: '_strong'
          },
          {
            text: 'Help',
            link: '##',
            modifier: false
          },
          {
            text: 'Features',
            link: '##',
            modifier: false
          },
          {
            text: 'Signup',
            link: '##',
            modifier: false
          }
        ])
      </ul>
      <div class="header__menu__button grid-block">
        @@include('../components/base-button.html', {
          type: 'button',
          text: 'Request Demo',
          link: '##',
          modifier: '_white _arrow',
        })
      </div>
    </nav>
    <div class="header__menu__mobile-menu-icon grid-block" onclick="mobileMenuHandler.toggle()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </section>
</header>