<div class="grid-container">
  <article class="testimonials grid-block grid-container">
    <h1 class="testimonials__heading grid-block">
      Testimonials
    </h1>
    <div class="testimonials__cards-carousel grid-block">
      <div class="testimonials__cards-carousel__scroll-area">
         @@loop('../components/testimonials__cards-carousel__card.html', [
          {
            img: 'img/testimonials-card-img-1.svg',
            name: 'John Fang',
            subtitle: 'wordfaang.com',
            text: 'Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.'
          },
          {
            img: 'img/testimonials-card-img-2.svg',
            name: 'Jeny Doe',
            subtitle: 'UX Designer',
            text: 'Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.'
          },
          {
            img: 'img/testimonials-card-img-1.svg',
            name: 'John Fang',
            subtitle: 'wordfaang.com',
            text: 'Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.'
          },
          {
            img: 'img/testimonials-card-img-2.svg',
            name: 'Jeny Doe',
            subtitle: 'UX Designer',
            text: 'Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.'
          }
        ])
      </div>
    </div>
    <div class="testimonials__cards-carousel__scroll-bar-fix grid-block _l-100-percent"></div>
    <div class="testimonials__cards-carousel__shadow"></div>
    <nav role="navigation" aria-label="Carousel navigation panel" class="testimonials__cards-carousel__controls">
      <div class="testimonials__cards-carousel__controls__bullets">
        @@loop('../components/testimonials__cards-carousel__controls__bullets__bullet.html', [
          {
            text: 'one',
            number: '1',
            modifier: '_selected'
          },
          {
            text: 'two',
            number: '2',
            modifier: ''
          },
          {
            text: 'tree',
            number: '3',
            modifier: ''
          },
          {
            text: 'four',
            number: '4',
            modifier: ''
          }
        ])
      </div>
      <div class="testimonials__cards-carousel__controls__arrows">
        <div aria-label="Carousel content's previous one" class="testimonials__cards-carousel__controls__arrows__arrow _left _disabled" onclick="testimonialsCarouselHandler.navigate(testimonialsCarouselHandler.data.active_card - 1)"></div>
        <div aria-label="Carousel content's next one" class="testimonials__cards-carousel__controls__arrows__arrow _right" onclick="testimonialsCarouselHandler.navigate(testimonialsCarouselHandler.data.active_card + 1)"></div>
      </div>
    </nav>
  </article>
</div>