/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

* {
  background-repeat: no-repeat;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none; }

.grid-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1130px;
  margin: auto;
  padding: 0 24px; }
  .grid-container._full {
    max-width: none; }
  .grid-container .grid-block.grid-container {
    margin: 0;
    padding: 0;
    width: 100%; }
  .grid-container .grid-block {
    padding: 12px; }
    .grid-container .grid-block._l-10-percent {
      width: 10%; }
      .grid-container .grid-block._l-10-percent._clear-left {
        margin-left: 90%; }
      .grid-container .grid-block._l-10-percent._clear-right {
        margin-right: 90%; }
      .grid-container .grid-block._l-10-percent._clear-both {
        margin: 0 45%; }
    .grid-container .grid-block._l-20-percent {
      width: 20%; }
      .grid-container .grid-block._l-20-percent._clear-left {
        margin-left: 80%; }
      .grid-container .grid-block._l-20-percent._clear-right {
        margin-right: 80%; }
      .grid-container .grid-block._l-20-percent._clear-both {
        margin: 0 40%; }
    .grid-container .grid-block._l-25-percent {
      width: 25%; }
      .grid-container .grid-block._l-25-percent._clear-left {
        margin-left: 75%; }
      .grid-container .grid-block._l-25-percent._clear-right {
        margin-right: 75%; }
      .grid-container .grid-block._l-25-percent._clear-both {
        margin: 0 37.5%; }
    .grid-container .grid-block._l-30-percent {
      width: 30%; }
      .grid-container .grid-block._l-30-percent._clear-left {
        margin-left: 70%; }
      .grid-container .grid-block._l-30-percent._clear-right {
        margin-right: 70%; }
      .grid-container .grid-block._l-30-percent._clear-both {
        margin: 0 35%; }
    .grid-container .grid-block._l-33.3333-percent {
      width: 33.3333%; }
      .grid-container .grid-block._l-33.3333-percent._clear-left {
        margin-left: 66.6667%; }
      .grid-container .grid-block._l-33.3333-percent._clear-right {
        margin-right: 66.6667%; }
      .grid-container .grid-block._l-33.3333-percent._clear-both {
        margin: 0 33.33335%; }
    .grid-container .grid-block._l-40-percent {
      width: 40%; }
      .grid-container .grid-block._l-40-percent._clear-left {
        margin-left: 60%; }
      .grid-container .grid-block._l-40-percent._clear-right {
        margin-right: 60%; }
      .grid-container .grid-block._l-40-percent._clear-both {
        margin: 0 30%; }
    .grid-container .grid-block._l-50-percent {
      width: 50%; }
      .grid-container .grid-block._l-50-percent._clear-left {
        margin-left: 50%; }
      .grid-container .grid-block._l-50-percent._clear-right {
        margin-right: 50%; }
      .grid-container .grid-block._l-50-percent._clear-both {
        margin: 0 25%; }
    .grid-container .grid-block._l-60-percent {
      width: 60%; }
      .grid-container .grid-block._l-60-percent._clear-left {
        margin-left: 40%; }
      .grid-container .grid-block._l-60-percent._clear-right {
        margin-right: 40%; }
      .grid-container .grid-block._l-60-percent._clear-both {
        margin: 0 20%; }
    .grid-container .grid-block._l-66.6666-percent {
      width: 66.6666%; }
      .grid-container .grid-block._l-66.6666-percent._clear-left {
        margin-left: 33.3334%; }
      .grid-container .grid-block._l-66.6666-percent._clear-right {
        margin-right: 33.3334%; }
      .grid-container .grid-block._l-66.6666-percent._clear-both {
        margin: 0 16.6667%; }
    .grid-container .grid-block._l-70-percent {
      width: 70%; }
      .grid-container .grid-block._l-70-percent._clear-left {
        margin-left: 30%; }
      .grid-container .grid-block._l-70-percent._clear-right {
        margin-right: 30%; }
      .grid-container .grid-block._l-70-percent._clear-both {
        margin: 0 15%; }
    .grid-container .grid-block._l-75-percent {
      width: 75%; }
      .grid-container .grid-block._l-75-percent._clear-left {
        margin-left: 25%; }
      .grid-container .grid-block._l-75-percent._clear-right {
        margin-right: 25%; }
      .grid-container .grid-block._l-75-percent._clear-both {
        margin: 0 12.5%; }
    .grid-container .grid-block._l-80-percent {
      width: 80%; }
      .grid-container .grid-block._l-80-percent._clear-left {
        margin-left: 20%; }
      .grid-container .grid-block._l-80-percent._clear-right {
        margin-right: 20%; }
      .grid-container .grid-block._l-80-percent._clear-both {
        margin: 0 10%; }
    .grid-container .grid-block._l-90-percent {
      width: 90%; }
      .grid-container .grid-block._l-90-percent._clear-left {
        margin-left: 10%; }
      .grid-container .grid-block._l-90-percent._clear-right {
        margin-right: 10%; }
      .grid-container .grid-block._l-90-percent._clear-both {
        margin: 0 5%; }
    .grid-container .grid-block._l-100-percent {
      width: 100%; }
      .grid-container .grid-block._l-100-percent._clear-left {
        margin-left: 0%; }
      .grid-container .grid-block._l-100-percent._clear-right {
        margin-right: 0%; }
      .grid-container .grid-block._l-100-percent._clear-both {
        margin: 0 0%; }
    .grid-container .grid-block.l-100-percent {
      flex-shrink: 0; }

@media screen and (max-width: 960px) {
  .grid-container .grid-block._m-10-percent {
    width: 10%; }
    .grid-container .grid-block._m-10-percent._clear-left {
      margin-left: 90%; }
    .grid-container .grid-block._m-10-percent._clear-right {
      margin-right: 90%; }
    .grid-container .grid-block._m-10-percent._clear-both {
      margin: 0 45%; }
  .grid-container .grid-block._m-20-percent {
    width: 20%; }
    .grid-container .grid-block._m-20-percent._clear-left {
      margin-left: 80%; }
    .grid-container .grid-block._m-20-percent._clear-right {
      margin-right: 80%; }
    .grid-container .grid-block._m-20-percent._clear-both {
      margin: 0 40%; }
  .grid-container .grid-block._m-25-percent {
    width: 25%; }
    .grid-container .grid-block._m-25-percent._clear-left {
      margin-left: 75%; }
    .grid-container .grid-block._m-25-percent._clear-right {
      margin-right: 75%; }
    .grid-container .grid-block._m-25-percent._clear-both {
      margin: 0 37.5%; }
  .grid-container .grid-block._m-30-percent {
    width: 30%; }
    .grid-container .grid-block._m-30-percent._clear-left {
      margin-left: 70%; }
    .grid-container .grid-block._m-30-percent._clear-right {
      margin-right: 70%; }
    .grid-container .grid-block._m-30-percent._clear-both {
      margin: 0 35%; }
  .grid-container .grid-block._m-33.3333-percent {
    width: 33.3333%; }
    .grid-container .grid-block._m-33.3333-percent._clear-left {
      margin-left: 66.6667%; }
    .grid-container .grid-block._m-33.3333-percent._clear-right {
      margin-right: 66.6667%; }
    .grid-container .grid-block._m-33.3333-percent._clear-both {
      margin: 0 33.33335%; }
  .grid-container .grid-block._m-40-percent {
    width: 40%; }
    .grid-container .grid-block._m-40-percent._clear-left {
      margin-left: 60%; }
    .grid-container .grid-block._m-40-percent._clear-right {
      margin-right: 60%; }
    .grid-container .grid-block._m-40-percent._clear-both {
      margin: 0 30%; }
  .grid-container .grid-block._m-50-percent {
    width: 50%; }
    .grid-container .grid-block._m-50-percent._clear-left {
      margin-left: 50%; }
    .grid-container .grid-block._m-50-percent._clear-right {
      margin-right: 50%; }
    .grid-container .grid-block._m-50-percent._clear-both {
      margin: 0 25%; }
  .grid-container .grid-block._m-60-percent {
    width: 60%; }
    .grid-container .grid-block._m-60-percent._clear-left {
      margin-left: 40%; }
    .grid-container .grid-block._m-60-percent._clear-right {
      margin-right: 40%; }
    .grid-container .grid-block._m-60-percent._clear-both {
      margin: 0 20%; }
  .grid-container .grid-block._m-66.6666-percent {
    width: 66.6666%; }
    .grid-container .grid-block._m-66.6666-percent._clear-left {
      margin-left: 33.3334%; }
    .grid-container .grid-block._m-66.6666-percent._clear-right {
      margin-right: 33.3334%; }
    .grid-container .grid-block._m-66.6666-percent._clear-both {
      margin: 0 16.6667%; }
  .grid-container .grid-block._m-70-percent {
    width: 70%; }
    .grid-container .grid-block._m-70-percent._clear-left {
      margin-left: 30%; }
    .grid-container .grid-block._m-70-percent._clear-right {
      margin-right: 30%; }
    .grid-container .grid-block._m-70-percent._clear-both {
      margin: 0 15%; }
  .grid-container .grid-block._m-75-percent {
    width: 75%; }
    .grid-container .grid-block._m-75-percent._clear-left {
      margin-left: 25%; }
    .grid-container .grid-block._m-75-percent._clear-right {
      margin-right: 25%; }
    .grid-container .grid-block._m-75-percent._clear-both {
      margin: 0 12.5%; }
  .grid-container .grid-block._m-80-percent {
    width: 80%; }
    .grid-container .grid-block._m-80-percent._clear-left {
      margin-left: 20%; }
    .grid-container .grid-block._m-80-percent._clear-right {
      margin-right: 20%; }
    .grid-container .grid-block._m-80-percent._clear-both {
      margin: 0 10%; }
  .grid-container .grid-block._m-90-percent {
    width: 90%; }
    .grid-container .grid-block._m-90-percent._clear-left {
      margin-left: 10%; }
    .grid-container .grid-block._m-90-percent._clear-right {
      margin-right: 10%; }
    .grid-container .grid-block._m-90-percent._clear-both {
      margin: 0 5%; }
  .grid-container .grid-block._m-100-percent {
    width: 100%; }
    .grid-container .grid-block._m-100-percent._clear-left {
      margin-left: 0%; }
    .grid-container .grid-block._m-100-percent._clear-right {
      margin-right: 0%; }
    .grid-container .grid-block._m-100-percent._clear-both {
      margin: 0 0%; }
  .grid-container .grid-block.m-100-percent {
    flex-shrink: 0; } }

@media screen and (max-width: 480px) {
  .grid-container .grid-block._s-10-percent {
    width: 10%; }
    .grid-container .grid-block._s-10-percent._clear-left {
      margin-left: 90%; }
    .grid-container .grid-block._s-10-percent._clear-right {
      margin-right: 90%; }
    .grid-container .grid-block._s-10-percent._clear-both {
      margin: 0 45%; }
  .grid-container .grid-block._s-20-percent {
    width: 20%; }
    .grid-container .grid-block._s-20-percent._clear-left {
      margin-left: 80%; }
    .grid-container .grid-block._s-20-percent._clear-right {
      margin-right: 80%; }
    .grid-container .grid-block._s-20-percent._clear-both {
      margin: 0 40%; }
  .grid-container .grid-block._s-25-percent {
    width: 25%; }
    .grid-container .grid-block._s-25-percent._clear-left {
      margin-left: 75%; }
    .grid-container .grid-block._s-25-percent._clear-right {
      margin-right: 75%; }
    .grid-container .grid-block._s-25-percent._clear-both {
      margin: 0 37.5%; }
  .grid-container .grid-block._s-30-percent {
    width: 30%; }
    .grid-container .grid-block._s-30-percent._clear-left {
      margin-left: 70%; }
    .grid-container .grid-block._s-30-percent._clear-right {
      margin-right: 70%; }
    .grid-container .grid-block._s-30-percent._clear-both {
      margin: 0 35%; }
  .grid-container .grid-block._s-33.3333-percent {
    width: 33.3333%; }
    .grid-container .grid-block._s-33.3333-percent._clear-left {
      margin-left: 66.6667%; }
    .grid-container .grid-block._s-33.3333-percent._clear-right {
      margin-right: 66.6667%; }
    .grid-container .grid-block._s-33.3333-percent._clear-both {
      margin: 0 33.33335%; }
  .grid-container .grid-block._s-40-percent {
    width: 40%; }
    .grid-container .grid-block._s-40-percent._clear-left {
      margin-left: 60%; }
    .grid-container .grid-block._s-40-percent._clear-right {
      margin-right: 60%; }
    .grid-container .grid-block._s-40-percent._clear-both {
      margin: 0 30%; }
  .grid-container .grid-block._s-50-percent {
    width: 50%; }
    .grid-container .grid-block._s-50-percent._clear-left {
      margin-left: 50%; }
    .grid-container .grid-block._s-50-percent._clear-right {
      margin-right: 50%; }
    .grid-container .grid-block._s-50-percent._clear-both {
      margin: 0 25%; }
  .grid-container .grid-block._s-60-percent {
    width: 60%; }
    .grid-container .grid-block._s-60-percent._clear-left {
      margin-left: 40%; }
    .grid-container .grid-block._s-60-percent._clear-right {
      margin-right: 40%; }
    .grid-container .grid-block._s-60-percent._clear-both {
      margin: 0 20%; }
  .grid-container .grid-block._s-66.6666-percent {
    width: 66.6666%; }
    .grid-container .grid-block._s-66.6666-percent._clear-left {
      margin-left: 33.3334%; }
    .grid-container .grid-block._s-66.6666-percent._clear-right {
      margin-right: 33.3334%; }
    .grid-container .grid-block._s-66.6666-percent._clear-both {
      margin: 0 16.6667%; }
  .grid-container .grid-block._s-70-percent {
    width: 70%; }
    .grid-container .grid-block._s-70-percent._clear-left {
      margin-left: 30%; }
    .grid-container .grid-block._s-70-percent._clear-right {
      margin-right: 30%; }
    .grid-container .grid-block._s-70-percent._clear-both {
      margin: 0 15%; }
  .grid-container .grid-block._s-75-percent {
    width: 75%; }
    .grid-container .grid-block._s-75-percent._clear-left {
      margin-left: 25%; }
    .grid-container .grid-block._s-75-percent._clear-right {
      margin-right: 25%; }
    .grid-container .grid-block._s-75-percent._clear-both {
      margin: 0 12.5%; }
  .grid-container .grid-block._s-80-percent {
    width: 80%; }
    .grid-container .grid-block._s-80-percent._clear-left {
      margin-left: 20%; }
    .grid-container .grid-block._s-80-percent._clear-right {
      margin-right: 20%; }
    .grid-container .grid-block._s-80-percent._clear-both {
      margin: 0 10%; }
  .grid-container .grid-block._s-90-percent {
    width: 90%; }
    .grid-container .grid-block._s-90-percent._clear-left {
      margin-left: 10%; }
    .grid-container .grid-block._s-90-percent._clear-right {
      margin-right: 10%; }
    .grid-container .grid-block._s-90-percent._clear-both {
      margin: 0 5%; }
  .grid-container .grid-block._s-100-percent {
    width: 100%; }
    .grid-container .grid-block._s-100-percent._clear-left {
      margin-left: 0%; }
    .grid-container .grid-block._s-100-percent._clear-right {
      margin-right: 0%; }
    .grid-container .grid-block._s-100-percent._clear-both {
      margin: 0 0%; }
  .grid-container .grid-block.s-100-percent {
    flex-shrink: 0; } }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-webfont.eot");
  src: url("../fonts/avenir-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir-webfont.svg#avenir-webfont") format("svg"), url("../fonts/avenir-webfont.ttf") format("truetype"), url("../fonts/avenir-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-webfont.eot");
  src: url("../fonts/helvetica-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica-webfont.svg#helvetica-webfont") format("svg"), url("../fonts/helvetica-webfont.ttf") format("truetype"), url("../fonts/helvetica-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-bold-webfont.eot");
  src: url("../fonts/helvetica-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica-bold-webfont.svg#helvetica-bold-webfont") format("svg"), url("../fonts/helvetica-bold-webfont.ttf") format("truetype"), url("../fonts/helvetica-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700; }

.body {
  min-height: 80vh; }
  .body._no-scroll {
    overflow: hidden; }
  .body._fixedHeader {
    padding-top: 118px; }

.body__background {
  background: #f6fafd;
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 100%);
  overflow-x: hidden; }

.base-text {
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68; }
  .base-text._small {
    font-size: 16px; }

.header {
  margin-top: 35px; }

.header__menu__items-list__item {
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4b5d68;
  margin-left: 40px; }
  .header__menu__items-list__item._strong {
    font-weight: 600;
    color: #212353; }
  .header__menu__items-list__item:first-of-type {
    margin-left: 0; }

.header__menu__items-list__item__link {
  color: #212353; }

@media screen and (max-width: 960px) {
  .header {
    margin-top: 6px; }
  .header__menu {
    display: block; }
    .header__menu .base-button {
      float: right; }
  .header__menu__items-list__item {
    display: block;
    margin: 0;
    text-align: right;
    padding: 18px 0;
    padding-right: 18px;
    font-size: 21px; } }

.base-button {
  border-radius: 50px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
  padding: 17px 29px; }
  .base-button._transparent {
    background-color: transparent;
    color: #212353;
    padding: 17px 0; }
  .base-button._purple {
    background-color: #9c69e2;
    color: #fff; }
  .base-button._pink {
    background-color: #f063b8;
    color: #fff; }
  .base-button._white {
    background-color: #ffffff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    color: #212353; }
  .base-button._arrow {
    position: relative;
    padding-right: 69px; }
    .base-button._arrow:after {
      content: '';
      position: absolute;
      background-image: url(../img/button-arrow-1.svg);
      background-size: 22px 16px;
      top: 23px;
      right: 23px;
      width: 22px;
      height: 16px; }

.features__block {
  align-items: center;
  background-position-x: 100%;
  flex-direction: row-reverse;
  height: 358px;
  margin-bottom: 50px !important;
  padding-right: 12px !important; }
  .features__block:nth-of-type(odd) {
    padding-right: 22px !important;
    background-position-x: calc(100% - 10px); }
  .features__block:nth-of-type(even) {
    padding-left: 10px !important; }

.features__block__heading {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
  margin-bottom: 20px; }

@media screen and (max-width: 960px) {
  .features__block {
    flex-flow: column-reverse;
    margin-top: 150px !important;
    background-size: 100%;
    background-position: bottom;
    border-radius: 290px 100px 0 0;
    padding-left: 50px !important; }
    .features__block:nth-of-type(odd) {
      padding-right: 0 !important;
      background-position-x: 100%; }
    .features__block:nth-of-type(even) {
      padding-left: 50px !important; } }

@media screen and (max-width: 480px) {
  .features__block {
    border-radius: 0; }
  .features__block__image {
    margin-bottom: -22px !important; }
  .features__block__heading {
    margin-bottom: 0 !important; } }

.testimonials__cards-carousel__card {
  background: #fff;
  box-shadow: 0px 12px 0px rgba(102, 102, 102, 0.2);
  border-radius: 20px;
  padding: 48px 84px 38px 58px !important;
  min-width: 645px;
  max-width: 645px;
  height: 330px;
  margin-right: 20px !important; }

.testimonials__cards-carousel__card__image-block {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden; }

.testimonials__cards-carousel__card__text-block {
  width: calc(100% -  90px); }

.testimonials__cards-carousel__card__text-block__heading {
  font-family: Avenir;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #212353;
  margin-top: 6px; }

.testimonials__cards-carousel__card__text-block__subtitle {
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #9c69e2;
  margin-bottom: 20px; }

@media screen and (max-width: 960px) {
  .testimonials__cards-carousel__card {
    padding: 30px 84px 18px 18px !important;
    min-width: calc(100vw - 50px);
    max-width: calc(100vw - 50px); }
  .testimonials__cards-carousel__card__image-block {
    width: 90px;
    position: absolute; }
  .testimonials__cards-carousel__card__image-block__image {
    height: 66px; }
    .testimonials__cards-carousel__card__image-block__image img {
      height: 100%;
      width: auto; }
  .testimonials__cards-carousel__card__text-block__heading,
  .testimonials__cards-carousel__card__text-block__subtitle {
    padding-left: 82px; } }

.testimonials__cards-carousel__controls__bullets__bullet {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  cursor: pointer; }
  .testimonials__cards-carousel__controls__bullets__bullet._selected {
    width: 10px;
    height: 10px;
    background-color: #f063b8; }

.footer__epilogue__navigation__items-list__item {
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 250%; }

.footer__epilogue__navigation__items-list__item__link {
  color: #212353; }

.footer__epilogue__navigation__items-list._social-media .footer__epilogue__navigation__items-list__item {
  margin-right: 14px; }

.header._fixed {
  position: fixed;
  top: 0;
  margin-top: 0;
  background-color: #f6fafd;
  z-index: 5;
  width: 100%;
  max-width: unset;
  padding: 0 calc(100% - 1312px) !important;
  opacity: 0; }

.header._visible {
  transition: opacity 0.25s;
  opacity: 1 !important; }

.header__container {
  padding: 0 12px;
  align-items: center; }

.header__menu {
  align-items: center;
  justify-content: flex-end;
  max-width: calc(100% - 74px); }

.header__menu__items-list {
  margin-left: 120px;
  display: flex; }

.header__menu__button {
  margin-left: auto; }

.header__menu__mobile-menu-icon {
  margin-left: auto;
  display: none; }

@media screen and (max-width: 960px) {
  .header__logo {
    z-index: 10; }
  .header__menu {
    position: absolute;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    max-width: unset;
    top: -6px;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.25s;
    margin-top: 0 !important;
    display: block;
    flex-wrap: wrap;
    align-items: unset !important; }
    .header__menu._open {
      z-index: 10;
      opacity: 1; }
  .header__menu__items-list {
    width: 100%;
    display: block;
    padding-top: 108px !important;
    margin: 0;
    display: block;
    height: max-content; }
  .header__menu__mobile-menu-icon {
    display: block;
    width: 36px;
    height: 25px;
    margin-right: 12px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 20; }
    .header__menu__mobile-menu-icon span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: #9c69e2;
      border-radius: 2px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .2s ease-in-out;
      -moz-transition: .2s ease-in-out;
      -o-transition: .2s ease-in-out;
      transition: .2s ease-in-out; }
      .header__menu__mobile-menu-icon span:nth-child(1) {
        top: 0px; }
      .header__menu__mobile-menu-icon span:nth-child(2), .header__menu__mobile-menu-icon span:nth-child(3) {
        top: 10px; }
      .header__menu__mobile-menu-icon span:nth-child(4) {
        top: 20px; }
    .header__menu__mobile-menu-icon._open span:nth-child(1) {
      top: 11px;
      width: 0%;
      left: 50%; }
    .header__menu__mobile-menu-icon._open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .header__menu__mobile-menu-icon._open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .header__menu__mobile-menu-icon._open span:nth-child(4) {
      top: 11px;
      width: 0%;
      left: 50%; } }

.article-top {
  margin-top: 102px;
  position: relative; }

.article-top__heading {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  align-items: center;
  color: #212353;
  margin-bottom: 38px !important; }

.article-top__text {
  margin-bottom: 38px !important; }

.article-top__button {
  margin-bottom: 200px !important; }

.article-top__image {
  position: absolute;
  top: 14%;
  left: 34%; }

@media screen and (max-width: 960px) {
  .article-top {
    margin-bottom: 150px !important; }
  .article-top__heading {
    font-size: 54px; }
  .article-top__button {
    margin: 0 auto !important; }
  .article-top__image {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 50px;
    width: 100%; } }

.article-middle {
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  align-items: center;
  margin-bottom: 130px !important; }

.article-middle__section {
  padding: 112px 80px !important; }

.article-middle__heading {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #212353; }

.article-middle__image {
  margin-top: -32px;
  max-width: 477px;
  display: block;
  margin: 0 auto; }

@media screen and (max-width: 480px) {
  .article-middle {
    padding-top: 50px !important; }
  .article-middle__section {
    padding-top: 50px !important;
    padding-left: 20px !important;
    padding-right: 20px !important; }
  .article-middle__heading {
    text-align: center; } }

.features {
  margin-bottom: 100px; }

.features__heading {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 26px;
  color: #212353; }

.features__text {
  text-align: center;
  margin-bottom: 76px !important; }

.testimonials {
  background-color: #9c69e2;
  border-radius: 50px;
  padding: 97px 0 50px 81px !important;
  margin-bottom: 150px !important; }

.testimonials__heading {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 70px;
  color: #fff; }

.testimonials__cards-carousel {
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative; }

.testimonials__cards-carousel__scroll-bar-fix {
  padding: 0 !important;
  position: relative; }
  .testimonials__cards-carousel__scroll-bar-fix:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -20px;
    z-index: 1;
    background-color: #9c69e2; }

.testimonials__cards-carousel__scroll-area {
  transition: transform 0.25s ease-out;
  display: flex;
  margin-bottom: 20px; }

.testimonials__cards-carousel__shadow {
  background: linear-gradient(270deg, #9C69E2 9.75%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  border-radius: 0 50px 50px 0; }

.testimonials__cards-carousel__controls {
  padding: 12px;
  display: flex;
  align-items: center;
  width: calc(100% - 81px);
  position: relative;
  z-index: 7; }

.testimonials__cards-carousel__controls__bullets {
  display: flex;
  align-items: center; }

.testimonials__cards-carousel__controls__arrows {
  display: flex;
  margin-left: auto; }

.testimonials__cards-carousel__controls__arrows__arrow {
  cursor: pointer; }
  .testimonials__cards-carousel__controls__arrows__arrow._left {
    background-image: url(../img/testimonials-nav-arrow-1.svg);
    width: 42px;
    height: 16px; }
  .testimonials__cards-carousel__controls__arrows__arrow._right {
    background-image: url(../img/testimonials-nav-arrow-2.svg);
    width: 22px;
    height: 16px;
    margin-left: 20px; }
  .testimonials__cards-carousel__controls__arrows__arrow._disabled {
    opacity: 0.3;
    cursor: default; }

@media screen and (max-width: 480px) {
  .testimonials {
    padding: 52px 0 50px 12px !important; }
  .testimonials__heading {
    margin-bottom: 40px; }
  .testimonials__cards-carousel__shadow {
    width: 50px;
    opacity: 0.25; }
  .testimonials__cards-carousel__controls {
    width: calc(100% - 12px);
    margin-top: 24px; }
  .testimonials__cards-carousel__scroll-bar-fix {
    display: none; } }

.footer {
  padding-bottom: 75px; }
  .footer:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #9c69e2;
    opacity: 0.2; }

.footer__heading {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  margin-bottom: 12px !important; }

.footer__heading-block {
  padding-top: 110px !important; }

.footer__heading-nav {
  margin-left: auto !important;
  width: auto !important; }

.footer__heading-nav__item:last-of-type {
  padding-right: 0; }

.footer__epilogue {
  margin-top: 138px !important; }

.footer__epilogue__heading {
  margin-bottom: 50px; }

.footer__epilogue__navigation__heading {
  font-family: Avenir;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  margin-bottom: 30px; }

.footer__epilogue__navigation__items-list._social-media {
  display: flex; }

@media screen and (max-width: 960px) {
  .footer__heading-nav {
    width: 100% !important; }
  .footer__epilogue__navigation {
    margin-top: 50px; } }

@media screen and (max-width: 960px) {
  .body._fixedHeader {
    padding-top: 68px; } }
