@import 'helpers/reset';
@import 'helpers/variables';
@import 'helpers/grid';
@import 'helpers/fonts';

@include font("avenir-webfont", "Avenir", normal, normal, "../fonts", eot svg ttf woff);
@include font("helvetica-webfont", "Helvetica", normal, normal, "../fonts", eot svg ttf woff);
@include font("helvetica-bold-webfont", "Helvetica", normal, 700, "../fonts", eot svg ttf woff);

.body {
  min-height: 80vh;
  &._no-scroll {
    overflow: hidden;
  }
  &._fixedHeader {
    padding-top: 118px;
  }
}

.body__background {
  background: #f6fafd;
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 100%);
  overflow-x: hidden;
}

.base-text {
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: $color_1;
  &._small {
    font-size: 16px; 
  }
}

@import 'components/header__menu__items-list__item';
@import 'components/base-button';
@import 'components/features__block';
@import 'components/testimonials__cards-carousel__card';
@import 'components/testimonials__cards-carousel__controls__bullets__bullet';
@import 'components/footer__epilogue__navigation__items-list__item';

@import 'partials/header';
@import 'partials/article-top';
@import 'partials/article-middle';
@import 'partials/features';
@import 'partials/testimonials';
@import 'partials/footer';

@media screen and (max-width: 960px) {
  .body {
    &._fixedHeader {
      padding-top: 68px;
    }
  }
}