<section class="features__block grid-block _l-50-percent _m-100-percent grid-container" style="background-image: url(@@bgImg);">
  <div class="grid-block _l-50-percent _m-100-percent">
    <h2 class="features__block__heading">
      @@heading
    </h2>
    <p class="features__block__heading base-text _small">
      @@text
    </p>
    @@include('./base-button.html', {
      type: 'button',
      text: 'Lear more',
      link: '@@btnLink',
      modifier: '_transparent _arrow',
    })
  </div>
  <div class="features__block__image grid-block _l-50-percent _s-100-percent">
    <img src="@@img" width="100%" alt="@@imgAlt">
  </div>
</section>