<li class="footer__epilogue__navigation__items-list__item @@modifier">
  <a class="footer__epilogue__navigation__items-list__item__link" href="@@link">
    @@if (!modifier) {
      @@text
    }
    @@if (modifier == '_social-media') {
      <img alt="@@text" title="@@text" src="@@img" width="50" height="50">
    }
  </a>
</li>