<section class="testimonials__cards-carousel__card grid-block grid-container">
  <div class="testimonials__cards-carousel__card__image-block grid-block">
    <div class="testimonials__cards-carousel__card__image-block__image">
      <img src="@@img" width="100%" alt="Picture of @@name">
    </div>
  </div>
  <div class="testimonials__cards-carousel__card__text-block grid-block _s-100-percent">
    <h2 class="testimonials__cards-carousel__card__text-block__heading">
      @@name
    </h2>
    <h3 class="testimonials__cards-carousel__card__text-block__subtitle">
      @@subtitle
    </h3>
    <p class="testimonials__cards-carousel__card__text-block__text base-text">
      @@text
    </p>
  </div>
</section>